{# components/01-atoms/links/link/link.stories.twig #}
{% stories link with {
  title: 'Atoms/Links/Links'
} %}

  {% story default with {
    name: 'Link',
    args: {
      link__content: 'Click me!',
      link__url: '#',
    }
  } %}
    {{ include('wunderful:link', {
      link__content,
      link__url,
    }) }}
  {% endstory %}

  {% story inverse with {
    name: 'Link inverse',
    args: {
      link__content: 'Click me!',
      link__url: '#',
    }
  } %}
    <div class="sb-background-dark">
      {{ include('wunderful:link', {
        link__content,
        link__url,
        link__modifiers: ['inverse'],
      }) }}
    </div>
  {% endstory %}

{% endstories %}
