# Ignore file for the Drupal container.
**/*.md
**/CHANGELOG*
**/README*
**/LICENSE*
phpcs.xml
**/*.sql
**/*.gz
**/*.zip
web/core/**/tests
web/modules/contrib/**/tests
vendor/**/Tests
**/node_modules
**/.git
web/sites/**/files
web/.dockerignore
composer.lock

# Rades changes
**/silta
.circleci
scripts/composer
.idea
.vscode
.github
.lando
.lando.yml
phpstan.neon
phpunit.xml
grumphp.yml
composer.json
package.json
package-lock.json
.editorconfig
.env.example
.gitattributes
.prettierrc.json
.stylelintrc.json
