# Ignore file for the Drupal container.
**/*.md
**/CHANGELOG*
**/README*
**/LICENSE*
kontena.yml
.circleci/*
phpcs.xml
**/*.sql
**/*.gz
**/*.zip
web/core/**/tests
web/modules/contrib/**/tests
vendor/**/Tests
node_modules
