version: 2.1

orbs:
  silta: silta/silta@0.1

executors:
  cicd74:
    docker:
      - image: eu.gcr.io/silta-images/cicd:circleci-php7.4-node14-composer2-v0.1

workflows:
  version: 2
  commit:
    jobs:
      - silta/drupal-validate:
          name: validate
          executor: cicd74
          post-validation:
            - run: echo "You can add additional validation here!"

      - silta/analyze:
          name: analyze
          executor: cicd74
          context: analyze
          sources: web

      - silta/drupal-build-deploy: &build-deploy
          name: build-deploy
          executor: cicd74
          codebase-build:
            - silta/drupal-composer-install
            - silta/npm-install-build
          context: silta_dev
          filters:
            branches:
              ignore: production

      - silta/drupal-build-deploy:
          # Extend the build-deploy configuration for the production environment.
          <<: *build-deploy
          name: build-deploy-prod
          silta_config: silta/silta.yml,silta/silta-prod.yml
          context: silta_finland
          filters:
            branches:
              only: production
