# Ignore file for the nginx container.
**/*.md
**/CHANGELOG*
**/README*
**/LICENSE*
kontena.yml
.circleci/*
phpcs.xml
**/*.sql
**/*.gz
**/*.zip
node_modules
**/*.php
**/*.module
**/*.install
**/*.yml
core/**/tests
modules/contrib/**/tests
